{{ define "content" }}
  <section class="container list">
    <h1 class="title">
      {{- if eq .Kind "taxonomy" -}}
        {{- .Data.Singular | title -}}
        {{- print ": " -}}
      {{- end -}}

      {{- .Title -}}
    </h1>
    <div class="list">
      <div class="recipes xs-px1 xs-mt2">
        <div class="clearfix" id="searchResults">
          {{ range .Paginator.Pages }}
            <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
              <a class="block relative bg-blue" href="{{ .RelPermalink }}">
                {{ with .Resources.ByType "image" }}
                  {{ range first 1 . }}
                    {{ $image := .Fill "600x300 Center jpg q45" }}
                    <div class="image ratio bg-cover" style="background-image:url({{$.Site.BaseURL}}{{ $image.RelPermalink }});"></div>
                  {{ end }}
                {{ else }}
                  {{ $hasImage := false }}
                  {{ range .Pages }}
                    {{ if not $hasImage }}
                      {{ with .Resources.ByType "image" }}
                        {{ range first 1 . }}
                          {{ $image := .Fill "600x300 Center jpg q45" }}
                          <div class="image ratio bg-cover" style="background-image:url({{$.Site.BaseURL}}{{ $image.RelPermalink }});"></div>
                        {{ end }}
                        {{ $hasImage = true }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                  {{ if not $hasImage }}
                    <div class="image ratio bg-cover"></div>
                  {{ end }}
                {{ end }}
                <h1 class="title p2 m0 absolute white bottom-0 left-0 title-shadow">{{ .Title }}</h1>
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
